/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 @font-face {
   font-family: 'Bowlby One SC';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: local('Bowlby One SC Regular'), local('BowlbyOneSC-Regular'), url(https://fonts.gstatic.com/s/bowlbyonesc/v10/DtVlJxerQqQm37tzN3wMug9P_g_2og.woff2) format('woff2');
 }

body {
  background-color: #000;
  color: white;
}

.nav-dash, .dash-content {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .nav-dash, .dash-content {
    padding-left: 0;
  }
}


#dropdown1 {
  background-color: #37393E;
}

#nav-mobile {
  background-color: #24272A;
}

#nav-dash {
  background-color: #24272A;
}

.btn {
  background-color: #FF0048 !important;
  font-weight: 400;
}

.btn:visited {
  background-color: #FF0048;
}

.btn:hover {
    background-color: rgb(64, 69, 75);
}

.card-panel {
  background-color: rgba(0, 0, 0, .7) !important;
}

nav {
  background-color: #d1003b !important;
  /* z-index: 0; */
}

h5 .header {
  font-weight: 500;
}

#dashbots {
  font-family: "Bowlby One SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #FF0048;
  user-select: none;
  font-size: 4.4rem;
}

@media (max-width:435px) {
    #dashbots {
      font-size: 13vw;
    }
  }

.nav-icon {
  vertical-align: middle;
  margin-left: 10px;
}

.discord {
  color: #7289DA;
}

.vertical-align-middle {
    margin: 0px;
    padding:0px;
    float: left;
    position:absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
